* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
.App {
  min-height: 200%;
  background-color: #151515;
  background-image: url("/src/pages/img/black-felt.png");
  /* background-image: url("/src/pages/img/diagonales-decalees.png"); */
}

#root {
  display: block;
}
