/* Background styles of the Header */
.navbar {
  background-color: #0a0a0a;
  background-image: url("/src/pages/img/black-felt.png");
  box-shadow: 0 0 10px 0 black;
  opacity: 0.98;
  border-bottom: 5px solid #b8a60b;
  /* Transition effect when mouse is hovered to the Header section */
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}

.navbar:hover {
  opacity: 1;
}

.dropdown {
  background-color: rgb(214, 183, 5) !important;
}
