.home {
}

.bg-image {
  /* The image used */
  background-image: url("/src/pages/img/sisig.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 750px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 25px 25px 50px 0 rgb(0, 0, 0) inset,
    -25px -25px 50px 0 rgb(0, 0, 0) inset;
}

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.bg-text h1 {
  font-size: 100px;
}

.bg-text p {
  font-size: 20px;
}

.home hr {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(143, 108, 19);
  border-width: 10px;
  width: 10%;
}
