.menu {
  height: 100px;
  background-color: #151515;
  display: block;
}

.menu-selection {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: rgb(172, 149, 2);
}

.menu-selection a {
  margin: 0 2% 0 0;
  color: rgb(221, 220, 216);
  transition: font-size 0.5s;
}

.menu-selection a:hover {
  color: rgb(172, 149, 2);
  text-decoration: none;
  font-size: 18px;
}
