.menu {
  height: 100px;
  background-color: #151515;
  display: block;
  width: 80%;
  margin: auto;
}

.menu-selection {
  width: 100%;
  height: 50px;
  text-align: center;
  display: inline-block;
  color: #fbfcd4;
  background-color: transparent;
}

.menu-buttons {
  margin-top: 1%;
}

.menu-selection a {
  display: inline-block;
  margin: 0 2% 0 0;
  color: #070703;
  transition: font-size 0.5s;
  cursor: pointer;
  z-index: 0 !important;
}

.menu-selection a:hover {
  color: rgb(172, 149, 2) !important;
  font-size: 20px;
}

.menu-select:hover {
  color: rgb(172, 149, 2) !important;
}
